* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: AvertaStd,-apple-system,BlinkMacSystemFont,sans-serif;
}

html{
    line-height: 1.15;
    text-size-adjust: 100%;
    font-size: 10px;
}

body{
    background-color: rgb(252,252,252);
    margin: 0;
    overflow: auto;
}

.quizAttemptWrapper{
    background-color: rgb(252, 252, 252);
    width: 100vw;
    overflow: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    width: 136.6rem;
    display: flex;
    position: relative;
}

.quizQuestionWrapper{
    width: 95.62rem;
    min-height: 100%;
    background-color: rgb(252,252,252);
}

.quizNavWrapper{
    width: 40.98rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.4);
    border-radius: 4px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.quizNavWrapperFixed{
    position: fixed;
    height: inherit;
    width: inherit;
}

.quizHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 95.62rem;
    top: 0px;
    z-index: 2;
    background-color: rgb(252, 252, 252);
    padding: 2.4rem 5.6rem;
}

.quizAppTitle{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 3rem;
    background-color: rgb(8, 189, 128);
    color: white;
    padding: 1rem;
    box-shadow: 4px 4px 4px 2px darkslategray;
}

#timerCountdown{
    font-size: 2rem;
    color:rgb(60, 72, 82);
    font-weight: bold;
    line-height: 150%;
    margin: 0px;
    display: flex;
}

.questionViewWrapper{
    height: 100%;
    padding: 12rem 5.6rem 0rem;
}

#questionAndOptions{
    min-height: calc(100% - 9.5rem);
}

.questionAndOptionsQuestion{
    background: #ffffff;
    padding: 3.2rem;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.4);
    margin-bottom: 2.4rem;
    user-select: none;
    border: 1px solid;
}

#questionAndOptionsQuestionNumber{
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 150%;
    color: rgb(128, 128, 128);
    margin-bottom: 1rem;
}

#questionText{
    color: rgb(60, 72, 82);
    line-height: 150%;
    vertical-align: middle; 
    font-size: large;
    margin: 0;
}

.questionAndOptionsOption{
    margin-bottom: 1.6rem;
    color: rgba(0, 0, 0, 0.87);
    padding: 2.4rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(221 230 237 / 40%) 0px 16px 32px 0px;
    border-radius: 0.8rem;
    width: 100%;
    display: flex;
    cursor: pointer;
    user-select: none;
}

.questionAndOptionsOptionSelector{
    margin-right: 1.6rem;
    font-size: 1.7rem;
}

.questionAndOptionsOptionText{
    color: rgb(60, 72, 82);
    font-size: 1.8rem;
}

.questionBottomButtonsWrapper{
    position: sticky;
    width: 100%;
    bottom: 0px;
    height: 9.5rem;
    display: flex;
    align-items: center;
    padding: 2.1rem 4rem;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(221 230 237 / 40%) -6px 0px 20px 0px;
    transform: translateY(0px);
    transition: transform 0.4s ease 0s;
    border-radius: 0.4rem;
    z-index: 3;
}

button{
    font-family: inherit;
    line-height: 1.15;
    margin: 0px;
    overflow: visible;
    text-transform: none;
}

#questionBottomButtonsPrevButton{
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 244, 247);
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    width: 12.8rem;
    height: 4.8rem;
    min-height: 4.8rem;
    color: rgb(60, 72, 82);
    user-select: none;
    background-color: rgb(255, 255, 255);
    height: 4.8rem;
}

.prevButtonIcon{
    display: flex;
    margin-right: 1rem;
}

.questionBottomButtonsClearMarkNextButtonWrapper{
    display: flex;
}

#questionBottomButtonsClearButton, #questionBottomButtonsMarkButton{
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(240, 244, 247);
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    width: 12.8rem;
    height: 4.8rem;
    min-height: 4.8rem;
    color: rgb(60, 72, 82);
    user-select: none;
    background-color: rgb(255, 255, 255);
    margin-right: 1.6rem;
}

.markButtonIcon{
    display: flex;
    margin-right: 1rem;
}

#questionBottomButtonsNextButton{
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    width: 12.8rem;
    height: 4.8rem;
    min-height: 4.8rem;
    color: rgb(255, 255, 255);
    user-select: none;
    background-color: rgb(8, 189, 128);
}

.nextButtonIcon{
    display: flex;
    margin-left: 1rem;
}

.quizEndTest{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 7.8rem;
    display: flex;
    padding: 15px 24px;
    justify-content: space-between;
    align-items: center;
}

.quizTitle{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 150%;
    color: rgb(60, 72, 82);
}

#quizEndButton{
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 244, 247);
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    width: 12.8rem;
    height: 4.8rem;
    min-height: 4.8rem;
    color: rgb(218, 20, 20);
    user-select: none;
    background-color: rgb(255, 255, 255);
}

#quizNav{
    overflow: auto;
    background-color: rgb(255, 255, 255);
}

.quizNavSection{
    position: relative;
}

.quizNavSectionInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background: rgb(255, 255, 255);
    z-index: 1;
    padding: 12px 24px;
}

.quizNavSectionName{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    margin: 0px;
    width: 70%;
    overflow: hidden;
    color: rgb(60, 72, 82);
}

.quizNavSectionInstr{
    margin-top: 8px;
    color: rgb(154, 175, 191);
    font-size: 14px;
}

.quizNavSectionSummaryRow{
    display: flex;
    align-items: center;
    padding: 24px 24px 0px;
}

.quizNavSectionSummary{
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 16px;
}

.quizNavSectionSummaryDotAnswered{
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: rgb(143, 163, 178);
    border-color: rgb(143, 163, 178);
    border-width: 1px;
    border-style: solid;
    margin-right: 8px;
}

.quizNavSectionSummaryDotMarked{
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: rgb(255, 173, 59);
    border-color: rgb(255, 173, 59);
    border-width: 1px;
    border-style: solid;
    margin-right: 8px;
}

.quizNavSectionSummaryDotUnanswered{
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(143, 163, 178);
    border-width: 1px;
    border-style: solid;
    margin-right: 8px;
}

.quizNavSectionSummaryText{
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 150%;
    margin: 0px;
    color: rgb(60, 72, 82);
}


#quizNavQuestionSelectorBlock{
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0px;
    opacity: 1;
    pointer-events: auto;
    padding-left: 2.4rem;
}

.quizNavQuestionSelector{
    background: rgb(255, 255, 255);
    height: 4rem;
    width: 4rem;
    border: 1px solid rgb(60, 72, 82);
    border-radius: 4px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: #3C4852;
}

.quizNavQuestionSelectorItem{
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 150%;
    color: rgb(60, 72, 82);
    margin: 0px;
}

.bookmarkIcon{
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    bottom: -8px;
    right: -8px;
}